---
permalink: /blog
title: "Articles"
description: "Tous les articles, cours et défis sur PowerShell et d'autres technologies Microsoft"
---

<h1>Articles</h1>
{% include filter-tags.html %}
<div class="all-tags">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <a href="#" onclick="filterArticlesByTag('{{ tag[0] }}');">#{{ tag[0] }}</a>
  {% endfor %}
</div>
<div class="all-posts">
  {% assign posts = site.posts | where: "listed", true %}
  {% for post in posts %}
  {% include post-preview.html id=post.id date=post.date title=post.title description=post.description tags=post.tags  %}
  {% endfor %}
</div>

