---
permalink: "/"
title: "Articles"
layout: "default"
description: "Tous les articles, cours et défis sur PowerShell et d'autres technologies Microsoft"
---

{% include blog-header.html %}

<section class="blog-page fill-available">
  <button class="show-blog-header" id="show-blog-header" style="display: none;" title="Afficher la bannière d'accueil">
    <i class="fa-solid fa-message" aria-hidden="true"></i>
  </button>
  <h1 style="margin: 0;">Articles</h1>
  {% include filter-searchbar.html %}
  {% include filter-tags.html %}
  <div class="searchbar-container">
    <input class="searchbar" type="text" id="searchbar" placeholder="Rechercher un article..." onkeyup="filterArticlesBySearch()" />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="all-tags">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <a href="#" onclick="filterByTag('{{ tag[0] }}');">#{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <div class="all-posts">
    {% assign posts = site.posts | where: "listed", true %}
    {% for post in posts %}
    {% include post-preview.html id=post.id date=post.date title=post.title description=post.description tags=post.tags  %}
    {% endfor %}
  </div>
</section>
