---
permalink: /cv
title: "Léo Bouard"
description: "Toutes mes expériences, mes formations et certifications"
---

<h1>Léo Bouard</h1>

<div class="cv-wrapper">
  <div class="personalInfo">
    <img
      src="https://media.licdn.com/dms/image/v2/D4E03AQG-i6zPGPcvJg/profile-displayphoto-shrink_200_200/B4EZRHn8KLHsAY-/0/1736368440347?e=1747267200&v=beta&t=9th1lOKqGbmGpqyYLkEptwmMgrGOhsGGvtj55RxTePc"
      alt="Photo de profil générée par IA">
    <div class="personalLinks">
      {% for link in site.data.cv.links %}
      <a href="{{ link.url }}" target="_blank" title="{{ link.name }}" class="hover-popout"><i
          class="{{ link.icon }}"></i></a>
      {% endfor %}
    </div>
    <ul>
      <li><i class="fa-solid fa-location-dot"></i><span>Chantepie, Ille-et-Vilaine (35)</span></li>
      <li><i class="fa-solid fa-phone"></i><a href="tel:+3369598XXXX" class="no-decoration">+33 6 95 98 XX XX</li>
      <li><i class="fa-solid fa-envelope"></i><a href="mailto:leo.bouard@hotmail.com"
          class="no-decoration">leo.bouard@hotmail.com</a></li>
      <li><i class="fa-solid fa-link"></i><a href="https://www.labouabouate.fr" target="_blank"
          class="no-decoration">www.labouabouate.fr</a></li>
    </ul>
  </div>
  <div class="personalSummary">
    <h3 style="margin-top: 0">Résumé</h3>
    <p>{{ site.data.cv.summary }}</p>
    <h3>Compétences</h3>
    <ul class="skills">
      {% for skill in site.data.cv.skills %}
      <li>
        <span>{{ skill.name }}</span>
        <div class="skill-container">
          <div class="skill-progress" style="width: {{ skill.value }}%;"></div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<h3>Examens et certifications</h3>
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(min(20em, 25em), 1fr)); grid-gap: 1em;">
  {% for certificate in site.data.cv.certificates %}
  <div class="certification">
    <a href="{{ certificate.url }}" target="_blank">
      <img src="{{ certificate.image }}" alt="certification logo">
      <div>
        <h4>{{ certificate.name }}</h4>
        <span>{{ certificate.date }}</span>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Expériences professionnelles</h2>
<div style="display: block;">
  {% for company in site.data.cv.companies %}
  <div style="margin-bottom: 35px;">
    <div class="enterprise">
      <div>
        <a href="{{ company.url }}" target="_blank" class="no-decoration">
          <img src="{{ company.logo }}" alt="company logo">
        </a>
      </div>
      <div>
        <h3>{{ company.name }}</h3>
        <span>{{ company.location }}</span>
      </div>
    </div>
    <div>
      <p>{{ company.summary }}</p>
    </div>
    {% for position in company.positions %}
    <details class="experience" open>
      <summary>
        <h4>{{ position.title }}</h4>
        <small>{{ position.startDate }} • {{ position.endDate }}</small>
      </summary>
      <p>{{ position.summary }}
      <ul>
        {% for highlight in position.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
      </p>
    </details>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<h2>Formation</h2>
<div style="display: block;">
  {% for school in site.data.cv.education %}
  <div class="enterprise">
    <div>
      <a href="{{ school.url }}" target="_blank" class="no-decoration">
        <img src="{{ school.logo }}" alt="school logo">
      </a>
    </div>
    <div>
      <h3>{{ school.institution }}</h3>
      <span>{{ school.diploma }}</span><br>
      <small>{{ school.startDate }} - {{ school.endDate }}</small>
    </div>
  </div>
  {% endfor %}
</div>