---
permalink: /cv
title: "Léo Bouard"
description: "Toutes mes expériences, mes formations et certifications"
---

<div class="call-to-website"">
  <span>Consulter la version complète sur
    <br>
    <a href=" https://www.labouabouate.fr/cv">www.labouabouate.fr/cv</a>
  </span>
</div>

<h2>Informations en bref</h2>
<div class="cv-wrapper">
  <div class="personalInfo">
    <div>
      <div>
        <img src="{{ site.data.cv.picture }}" alt="Photo de profil générée par IA">
        <div>
          <h1>{{ site.data.cv.name }}</h1>
          <span class="title">{{ site.data.cv.title }}</span>
        </div>
      </div>
      <div class="personalLinks">
        {% for link in site.data.cv.links %}
        <a href="{{ link.url }}" target="_blank" title="{{ link.name }}" class="hover-popout"><i
            class="{{ link.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
    <ul>
      <li>
        <i class="fa-solid fa-location-dot"></i>
        {{ site.data.cv.personalInfo.address }}
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <a href="tel:{{ site.data.cv.personalInfo.phone }}" class="no-decoration">{{ site.data.cv.personalInfo.phone
          }}</a>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:{{ site.data.cv.personalInfo.email }}" class="no-decoration">{{ site.data.cv.personalInfo.email
          }}</a>
      </li>
      <li>
        <i class="fa-solid fa-link"></i>
        <a href="https://{{ site.data.cv.personalInfo.website }}" target="_blank" class="no-decoration">{{
          site.data.cv.personalInfo.website }}</a>
      </li>
      <li>
        <i class="fa-solid fa-language"></i>
        Anglais niveau C1
      </li>
    </ul>
  </div>
  <div class="personalSummary">
    <h3 style="margin-top: 0">Résumé</h3>
    <p>{{ site.data.cv.summary }}</p>
    <h3>Compétences</h3>
    <ul class="skills">
      {% for skill in site.data.cv.skills %}
      <li>
        <span>{{ skill.name }}</span>
        <div class="skill-container">
          <div class="skill-progress" style="width: {{ skill.value }}%;"></div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <h3>Certifications</h3>
    <div
      style="display: grid; grid-template-columns: repeat(auto-fill, minmax(min(15em, 100%), 1fr)); grid-gap: 0.5em;">
      {% for certificate in site.data.cv.certificates %}
      <div class="certification">
        <a href="{{ certificate.url }}" target="_blank">
          <img src="{{ certificate.image }}" alt="certification logo">
          <div>
            <h4>{{ certificate.name }}</h4>
            <span>{{ certificate.date }}</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<h2>Expériences professionnelles</h2>
<div style="display: flex; flex-direction: column; grid-gap: 1em;">
  {% for company in site.data.cv.companies %}
  <details class="enterprise">
    <summary class="enterprise">
      <i class="fa-solid fa-chevron-down open-indicator-enterprise"></i>
      <img src="{{ company.logo }}" alt="company logo">
      <div>
        <h3>{{ company.name }}</h3>
        <span>{{ company.location }}</span>
        <small>de {{ company.startDate }} à {{ company.endDate }} • {{ company.duration }}</small>
      </div>
    </summary>
    <div>
      <p>{{ company.summary }}</p>
    </div>
    {% for position in company.positions %}
    <details class="experience">
      <summary>
        <i class="fa-solid fa-chevron-down open-indicator-experience"></i>
        <h4>{{ position.title }}</h4>
        <small>de {{ position.startDate }} à {{ position.endDate }}</small>
      </summary>
      <div>
        <p>{{ position.summary }}</p>
        <ul>
          {% for highlight in position.highlights %}
          <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      </div>
    </details>
    {% endfor %}
  </details>
  {% endfor %}
  <a href="/projects" class="hide-on-print no-decoration button-primary hover-bottom"
    style="display: inline-block; margin: auto;">Voir les projets</a>
</div>

<h2>Formation</h2>
<div style="display: flex; flex-direction: column; grid-gap: 1em;">
  {% for school in site.data.cv.education %}
  <div class="enterprise">
    <img src="{{ school.logo }}" alt="school logo">
    <div>
      <h3>{{ school.institution }}</h3>
      <span>{{ school.diploma }}</span><br>
      <small>de {{ school.startDate }} à {{ school.endDate }}</small>
    </div>
  </div>
  {% endfor %}
</div>