---
permalink: /cv
title: "Léo Bouard"
description: "Toutes mes expériences, mes formations et certifications"
---

<h1>Léo Bouard</h1>

<h2>Résumé</h2>
{{ site.data.cv.summary }}

<h2>Liens</h2>
<div class="personalLinks">
  {% for link in site.data.cv.links %}
  <a href="{{ link.url }}" target="_blank" title="{{ link.name }}"><i class="{{ link.icon }}"></i></a>
  {% endfor %}
</div>
<h2>Examens et certifications</h2>
<div style="display: flex; justify-content: center; flex-wrap: wrap; grid-gap: 5px;">
  {% for certificate in site.data.cv.certificates %}
  <div class="certification">
    <a href="{{ certificate.url }}" target="_blank">
      <img src="{{ certificate.image }}" alt="certification logo">
      <span class="certifDate">{{ certificate.date }}</span>
      <span class="certifTitle">{{ certificate.name }}</span>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Expériences professionnelles</h2>
<div style="display: block;">
  {% for company in site.data.cv.companies %}
  <div style="margin-bottom: 35px;">
    <div class="enterprise">
      <div>
        <a href="{{ company.url }}" target="_blank" class="no-decoration">
          <img src="{{ company.logo }}" alt="company logo">
        </a>
      </div>
      <div>
        <h3>{{ company.name }}</h3>
        <span>{{ company.location }}</span>
      </div>
    </div>
    <div>
      <p>{{ company.summary }}</p>
    </div>
    {% for position in company.positions %}
    <details class="experience" open>
      <summary>
        <h4>{{ position.title }}</h4>
        <small>{{ position.startDate }} • {{ position.endDate }}</small>
      </summary>
      <p>{{ position.summary }}
      <ul>
        {% for highlight in position.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
      </p>
    </details>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<h2>Formation</h2>
<div style="display: block;">
  {% for school in site.data.cv.education %}
  <div class="enterprise">
    <div>
      <a href="{{ school.url }}" target="_blank" class="no-decoration">
        <img src="{{ school.logo }}" alt="school logo">
      </a>
    </div>
    <div>
      <h3>{{ school.institution }}</h3>
      <span>{{ school.diploma }}</span><br>
      <small>{{ school.startDate }} - {{ school.endDate }}</small>
    </div>
  </div>
  {% endfor %}
</div>