---
permalink: /projects
title: "Projets"
description: "Liste des projets sur lesquels j'ai travaillé"
---

<a href="/cv" class="no-decoration button-primary hover-bottom" style="display: inline-block; margin-bottom: 2em;">
  <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
  <span>Retour au CV</span>
</a>

<h1>Projets</h1>
<h2>Projets en clientèle</h2>
<p>Liste l'ensemble des missions courtes ou à temps partiel que j'ai pu effectuer en dehors des expériences listées dans le CV.</p>

{% include filter-tags.html %}
<div class="all-tags">
  {% assign all_tags = "" | split: "" %}
  {% for year in site.data.projects %}
  {% for project in year.projects %}
  {% for tag in project.tags %}
  {% unless all_tags contains tag %}
  {% assign all_tags = all_tags | push: tag %}
  {% endunless %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% assign tags = all_tags | sort %}
  {% for tag in tags %}
  <a href="#" onclick="filterByTag('{{ tag }}');">#{{ tag }}</a>
  {% endfor %}
</div>

{% for year in site.data.projects %}
<div class="project-container" style="">
  <h3>{{ year.year }}</h3>
  <div class="project-per-year fill-available">
    {% for project in year.projects %}
    <div class="project" id="tag-container" style="">
      {% assign company = site.data.companies | where: "company", project.company | first %}
      {% if company %}
      <a href="{{ company.url }}" target="_blank">
        <img src="{{ company.logo }}" alt="{{ project.company }}" title="{{ project.company }}">
      </a>
      <span><i class="fa-solid fa-location-dot"></i>{{ company.description }}</span>
      {% endif %}
      <h4>{{ project.title }}</h4>
      <small><i class="fa-solid fa-calendar-days"></i>{{ project.period }} • <i class="fa-solid fa-hourglass-half"></i>{{ project.duration }}</small>
      <p>{{ project.description }}</p>
      <div style="display: flex; flex-wrap: wrap; grid-gap: 0.5em" id="tags">
        {% for tag in project.tags %}<code>#{{ tag }}</code> {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}

<small>L'utilisation des logos est réalisée en accord avec les <a href="https://www.economie.gouv.fr/apie/regles-et-usages-applicables-en-matiere-de-citation-de-marque-dans-le-cadre-dune-reference">règles et usages applicables en matière de citation de "marque" dans le cadre d’une "référence client"</a> par le Ministère de l’Économie des Finances et de la Souveraineté industrielle et numérique.</small>
