---
permalink: /projects
title: "Projets"
description: "Liste des projets sur lesquels j'ai travaillé"
---

<a href="/cv" class="no-decoration button-primary hover-bottom" style="display: inline-block; margin-bottom: 2em;">
  <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
  <span>Retour au CV</span>
</a>

<h1>Projets</h1>
<h2>Projets en clientèle</h2>

<div class="all-tags">
  {% assign all_tags = "" | split: "" %}
  {% for year in site.data.projects %}
    {% for project in year.projects %}
      {% for tag in project.tags %}
        {% unless all_tags contains tag %}
          {% assign all_tags = all_tags | push: tag %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% assign tags = all_tags | sort %}
  {% for tag in tags %}
  <a href="#" onclick="filterProjectByTag('{{ tag[0] }}');">#{{ tag[0] }}</a>
  {% endfor %}
</div>

{% for year in site.data.projects %}
<div class="project-container" style="">
  <h3>{{ year.year }}</h3>
  <div class="project-per-year">
    {% for project in year.projects %}
    <div class="project">
      <span>{{ project.customer }}</span>
      <h4>{{ project.title }}</h4>
      <small>{{ project.period }} • {{ project.duration }}</small>
      <p>{{ project.description }}</p>
      {% for tag in project.tags %}<code>#{{ tag }}</code> {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}