---
permalink: /projects
title: "Projets"
description: "Liste des projets sur lesquels j'ai travaillé"
---

<h1>Projets</h1>
<h2>Projets en clientèle</h2>

{% for year in site.data.projects %}
<div style="display: flex;">
  <h3 style="margin: 0; margin-right: 1em;">{{ year.year }}</h3>
  <div style="border-left: 1px solid var(--mediumaccent); padding-left: 1em; display: flex; flex-direction: column; grid-gap: 0.5em;">
    {% for project in year.projects %}
      <div class="project">
        <h4>{{ project.title }}</h4>
        <small>{{ project.period }} • {{ project.duration }}</small>
        <p>{{ project.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
