---
permalink: /cv2
layout: standard
title:  "{{ site.data.cv.name }}"
description: "Toutes mes expériences, mes formations et certifications"
---

<h2>Résumé</h2>

{{ site.data.cv.summary }}

<h2>Liens</h2>

<div class="personalLinks">
  {% for link in site.data.cv.links %}
  <a href="{{ link.url }}" target="_blank" title="{{ link.name }}"><i class="{{ link.icon }}"></i></a>
  {% endfor %}
</div>

<h2>Examens et certifications</h2>

<div style="display: flex; justify-content: center; flex-wrap: wrap; grid-gap: 5px;">
  {% for certificate in site.data.cv.certificates %}
  <div class="certification">
    <img src="{{ certificate.image }}" alt="certification logo">
    <span class="certifDate">{{ certificate.date }}</span>
    <span class="certifTitle">{{ certificate.name }}</span>
  </div>
  {% endfor %}
</div>

<h2>Expériences professionnelles</h2>

<div style="display: block;">
  {% for company in site.data.cv.companies %}
  <div style="margin-bottom: 35px;">
    <div class="enterprise">
      <div>
        <img src="{{ company.logo }}" alt="company logo">
      </div>
      <div>
        <h3>{{ company.name }}</h3>
        <span>{{ company.location }}</span>
      </div>
    </div>
    <div>
      <p>{{ company.summary }}</p>
    </div>
    <div class="experience">
      {% for position in company.positions %}
      <h4>{{ position.title }}</h4>
      <small>{{ position.startDate }} • {{ position.endDate }}</small>
      <p>{{ position.summary }}
      <ul>
        {% for highlight in position.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
      </p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<!--
<h2>Formation</h2>

<div style="display: block;">
   IUT La Roche-sur-Yon
  <div style="margin-bottom: 35px;">
    <div class="enterprise">
      <div>
        <img src="/assets/images/iut-la-roche-sur-yon.jpg" alt="logo IUT de La Roche-sur-Yon">
      </div>
      <div>
        <h3>IUT de La Roche-sur-Yon</h3>
        <span>La Roche-sur-Yon, Vendée (85)</span>
      </div>
    </div>
    <div class="experience">
      <h4>Licence professionnelle A2SR</h4>
      <small>Promotion 2017-2018</small>
      <p>Licence professionnelle administration et sécurité des systèmes et des réseaux.<br>Alternance au GEVES en
        tant qu'administrateur système.</p>
    </div>
    <div class="experience">
      <h4>DUT réseaux et télécommunications</h4>
      <small>Promotion 2015-2017</small>
      <p>Projet tutoré : initiation de lycéens à la cybersécurité avec des ateliers de sensibilisation et des
        travaux pratiques.<br>Stage de fin d'année au GEVES en tant qu'administrateur système.</p>
    </div>
  </div>
</div>
 -->