<script>
  document.addEventListener('DOMContentLoaded', () => {
    const blogHeader = document.getElementById('blog-header');
    const hideButton = document.getElementById('hide-blog-header');
    const showButton = document.getElementById('show-blog-header');

    if (readCookie('cookie-hide-blog-header') == 'true') {
      blogHeader.style.display = 'none';
      showButton.style.display = 'block';
    }

    hideButton.addEventListener('click', () => {
      blogHeader.style.display = 'none';
      showButton.style.display = 'block';
      createCookie('cookie-hide-blog-header', 'true', 31);
    });

    showButton.addEventListener('click', () => {
      showButton.style.display = 'none';
      eraseCookie('cookie-hide-blog-header');
    });
  });
</script>

<section class="blog-header" id="blog-header">
  <button id="hide-blog-header" class="hide-button" title="Masquer la bannière d'accueil">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <span>Bienvenue ! 👋</span>
  <p>Blog technique principalement sur PowerShell et Active Directory. Il s'agit plus d'une documentation personnelle ouverte à tous qu'un vrai site web.</p>
</section>