<section style="
    width: 100%;
    height: 40em;
    background-image: linear-gradient(90deg, var(--accent) 1px,#0000 1px),linear-gradient(var(--accent) 1px,#0000 1px);
    background-repeat: repeat;
    background-size: 4em 4em;
    mask-image: linear-gradient(180deg, var(--background) 70%, transparent);
    margin: -5em 0 -7em 0;
    padding: 0;
    display: flex;
    /*transform: skew(4deg, -3deg);*/
    z-index: -1;
">
  <div style="
    max-width: 800px;
    padding: 2em;
    margin: auto;
    position: relative;
">
    <div style="
        position: absolute;
    aspect-ratio: 2/1;
    background: var(--mediumaccent);
    width: 12em;
    filter: blur(5em);
"></div>
    <span style="
    font-family: var(--titlefont);
    font-size: 3.5em;
    line-height: 110%;
    background: linear-gradient(-2deg, black, var(--accent));
    background-clip: text;
    color: transparent;
    user-select: none;
">Une phrase<br>vraiment très<br>impactante.</span>
    <p style="
    margin-top: 2em;
">Blog technique principalement sur PowerShell et Active Directory. Il s'agit plus d'une documentation personnelle
      ouverte à tous qu'un vrai site web.</p>
  </div>


</section>