<script src="https://giscus.app/client.js" data-repo="leobouard/leobouard.github.io" data-repo-id="R_kgDOG3EnHg"
  data-category="General" data-category-id="DIC_kwDOG3EnHs4CoBVU" data-mapping="pathname" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="noborder_light"
  data-lang="fr" crossorigin="anonymous" async>
  </script>
<section class="blog-post">
  <details class="comments">
    <summary>
      <i class="fa-solid fa-comments"></i>
      <span>Commentaires</span>
    </summary>
    <div class="giscus"></div>
  </details>
</section>