<script>
  window.addEventListener("load", function () {
    document
      .querySelector('.blog-post')
      .querySelectorAll('div.highlighter-rouge')
      .forEach(function (pre) {
        var button = document.createElement('button');
        button.className = 'copy';
        button.type = 'button';
        button.ariaLabel = 'Copy code to clipboard';
        button.innerHTML = '<i class="fa-solid fa-clone"></i>';
        button.addEventListener('click', function () {
          var code = pre.querySelector('code').innerText.trim();
          navigator.clipboard.writeText(code);
        });
        pre.appendChild(button);
      });
  });
</script>