<script>
  window.addEventListener("load", function () {
    document
      .querySelector('.blog-post')
      .querySelectorAll('div.highlighter-rouge')
      .forEach(function (pre) {
        var button = document.createElement('button');
        button.className = 'copy';
        button.type = 'button';
        button.data-tooltip = 'Copier vers le presse-papier';
        button.innerHTML = '<i class="fa-regular fa-copy"></i>';
        button.addEventListener('click', function () {
          var code = pre.querySelector('code').innerText.trim();
          navigator.clipboard.writeText(code);
        });
        pre.appendChild(button);
      });
  });
</script>