<script>
  window.addEventListener("load", function () {
    document
      .querySelector('.blog-post')
      .querySelectorAll('div.highlighter-rouge')
      .forEach(function (pre) {
        var button = document.createElement('button');
        button.className = 'copy';
        button.type = 'button';
        button.innerHTML = '<i class="fa-regular fa-copy"></i>';
        button.addEventListener('click', function () {
          var code = pre.querySelector('code').innerText.trim();
          navigator.clipboard.writeText(code).then(function () {
            var originalHTML = button.innerHTML;
            button.innerHTML = '<i class="fa-solid fa-check"></i>';
            setTimeout(function () {
              button.innerHTML = originalHTML;
            }, 1500);
          });
        });
        pre.appendChild(button);
      });
  });
</script>