<script>
  function filterByTag(tag) {
    let linkSelected = false;
    document.querySelectorAll('a[onclick^="filterByTag"]').forEach(link => {
      if (link.getAttribute('onclick').includes(`'${tag}'`)) {
        if (link.classList.contains('selected')) {
          link.classList.remove('selected');
          clearfilterByTag();
          linkSelected = true;
        }
      }
    });

    if (linkSelected) {
      return;
    }

    clearfilterByTag();
    document.querySelectorAll('#tag-container').forEach(container => {
      const tags = container.querySelector('#tags');
      if (!tags || !tags.textContent.includes(tag)) {
        container.style.display = 'none';
      }
    });
    document.querySelectorAll('a[onclick^="filterByTag"]').forEach(link => {
      if (link.getAttribute('onclick').includes(`'${tag}'`)) {
        link.classList.add('selected');
      }
    });
  }

  function clearfilterByTag() {
    document.querySelectorAll('#tag-container').forEach(container => {
      container.style.display = '';
    });
    document.querySelectorAll('a[onclick^="filterByTag"]').forEach(link => {
      link.classList.remove('selected');
    });
  }
</script>