<footer>
  <div class="footer-grid">

    <span class="footer-logo">
      La<br>
      Boua<br>
      Bouate
    </span>

    <div class="footer-author">
      <span>Fait avec ♥ par Léo Bouard</span>
      {% assign current_year = 'now' | date: '%Y' %}
      <small>2021-{{current_year}}</small>
    </div>

    <div class="footer-links">
      {% for link in site.data.cv.links %}
      <a href="{{ link.url }}" target="_blank" title="{{ link.name }}"><i class="{{ link.icon }}"></i></a>
      {% endfor %}
    </div>

  </div>
</footer>