{% assign repo_url = include.repository | split: '/' %}

<a target="_blank" href="https://github.com/{{ include.repository }}">
  <img
    class="image-light"
    alt="{{ include.repository }}"
    src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_url[0] }}&repo={{ repo_url[1] }}&show_owner=true&locale=fr&title_color=333333&icon_color=68948d&border_color=cccccc&bg_color=ffffff&text_color=333333">
  <img
    class="image-dark"
    alt="{{ include.repository }}"
    src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_url[0] }}&repo={{ repo_url[1] }}&show_owner=true&locale=fr&title_color=eeeeee&icon_color=90b7b1&border_color=555555&bg_color=111111&text_color=eeeeee">
  </a>