<a target="_blank" href="https://gist.github.com/leobouard/{{ include.id }}" style="display: block; max-width: 400px;">
  <img
    class="image-light"
    alt="{{ include.name }}"
    src="https://github-readme-stats-6da8t6xja-leobouards-projects.vercel.app/api/gist?id={{ include.id }}&locale=fr&title_color=333333&icon_color=68948d&border_color=cccccc&bg_color=ffffff&text_color=333333">
  <img
    class="image-dark"
    alt="{{ include.name }}"
    src="https://github-readme-stats-6da8t6xja-leobouards-projects.vercel.app/api/gist?id={{ include.id }}&locale=fr&title_color=eeeeee&icon_color=90b7b1&border_color=555555&bg_color=111111&text_color=eeeeee">
</a>