<script async src="https://www.googletagmanager.com/gtag/js?id=G-C2NF11X1GL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-C2NF11X1GL');
</script>
<script>
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'ad_user_data': 'denied',
    'ad_personalization': 'denied',
    'analytics_storage': 'denied'
  });
</script>
<script>
  function closeCookies() {
    var shadowDiv = document.querySelector('.shadow');
    if (shadowDiv) { shadowDiv.style.display = 'none'; }
};
</script>
<script>
  function allConsentGranted() {
    gtag('consent', 'update', {
      'ad_user_data': 'granted',
      'ad_personalization': 'granted',
      'ad_storage': 'granted',
      'analytics_storage': 'granted'
    });
    closeCookies()
  }
</script>