<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta property="og:image" content="{{site.url}}{{page.thumbnail}}">
  <meta name="google-site-verification" content="J54cOLLRvJGi3IKENe-qh1w7FjK9_rf_W-4C-VkILSI">
  {% seo %}
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/posts.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/cv.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  {% include fonts.html %}
  <script src="https://kit.fontawesome.com/4f20968c9e.js" crossorigin="anonymous" async></script>
</head>