<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta property="og:image" content="{{site.url}}{{page.thumbnail}}">
  {% seo %}
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="style.css" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/posts.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/homepage.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/cv.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  <link rel="stylesheet" href="{{ "/assets/css/about.css?v=" | append: site.github.build_revision | relative_url }}" media="screen,print">
  {% include fonts.html %}
  <script src="https://kit.fontawesome.com/4f20968c9e.js" crossorigin="anonymous" async></script>
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins&display=swap">
  </noscript>
</head>