<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 640 800" opacity="0.65">
    <defs>
        <filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feGaussianBlur stdDeviation="10" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic"
                edgeMode="none" result="blur"></feGaussianBlur>
        </filter>
    </defs>
    <g filter="url(#bbblurry-filter)">
        <ellipse rx="101" ry="102" cx="532.3629792675827" cy="431.50904642451906" fill="hsla(217, 100%, 61%, 1.00)">
        </ellipse>
        <ellipse rx="101" ry="102" cx="272.37302395791716" cy="560.7748307314785" fill="hsla(265, 83%, 57%, 1.00)">
        </ellipse>
        <ellipse rx="101" ry="102" cx="125.48054911873555" cy="192.29628458890033" fill="hsla(44, 100%, 52%, 1.00)">
        </ellipse>
        <ellipse rx="101" ry="102" cx="360.9267707015528" cy="323.33413431861186" fill="hsla(334, 100%, 50%, 1.00)">
        </ellipse>
        <ellipse rx="101" ry="102" cx="115.73159690336729" cy="436.87914609909075" fill="hsla(19, 97%, 51%, 1.00)">
        </ellipse>
    </g>
</svg>