<script>
document.addEventListener("DOMContentLoaded", () => {
  const items = document.querySelectorAll("li.task-list-item");
  items.forEach(item => {
    item.addEventListener("click", () => {
      const checkbox = item.querySelector('input[type="checkbox"]');
      if (checkbox.checked) {
        item.classList.add("good-answer");
        item.innerHTML += '<i class="fa-solid fa-circle-check"></i>';
      } else {
        item.classList.add("bad-answer");
        item.innerHTML += '<i class="fa-solid fa-circle-xmark"></i>';
      }
    });
  });
});
</script>