{% assign impact = include.impact | plus: 0 %}
{% assign probability = include.probability | plus: 0 %}
{% assign comment = include.comment | default: "" %}

{% assign risk = impact | times: probability %}

{% assign impact_labels = "Insignifiante|Mineure|Significative|Majeure|Sévère" | split: "|" %}
{% assign probability_labels = "Rare|Improbable|Modéré|Probable|Presque certain" | split: "|" %}

{% assign impact_text = impact_labels[impact | minus: 1] %}
{% assign probability_text = probability_labels[probability | minus: 1] %}

{% if risk <= 2 %}
  {% assign risk_text = "Très faible" %}
  {% assign risk_color = "#4caf50" %}
{% elsif risk <= 4 %}
  {% assign risk_text = "Faible" %}
  {% assign risk_color = "#8bc34a" %}
{% elsif risk <= 6 %}
  {% assign risk_text = "Moyen" %}
  {% assign risk_color = "#ffeb3b" %}
{% elsif risk <= 10 %}
  {% assign risk_text = "Élevé" %}
  {% assign risk_color = "#ff9800" %}
{% else %}
  {% assign risk_text = "Très élevé" %}
  {% assign risk_color = "#f44336" %}
{% endif %}

<div style="
    background: var(--lightaccent);
    padding: 2em;
    font-size: small;
    margin: auto;
    border-radius: 0.25em;
    display: flex;
    grid-gap: 2em;
">
  <div>
    <h3 style="margin: 1em 0;">Risque</h3>
    <span style="aspect-ratio: 3/1; background: {{ risk_color }};color: black; display: flex; align-items: center; justify-content: center; border-radius: 0.25em;">{{ risk_text }}</span>
    <table style="border: none; width: 100%;">
      <tbody>
        <tr>
          <td>Probabilité</td>
          <td>{{ probability }}/5</td>
      </tr>
      <tr>
          <td>Impact</td>
          <td>{{ impact }}/5</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3 style="margin: 1em 0;">Commentaire</h3>
    <p>{{ comment }}</p>
  </div>
</div>