<div class="talk-container hover-bottom">
  <a href="{{ include.url }}" class="no-decoration" target="_blank">
    <div class="talk-thumbnail">
      <h3>{{ include.title }}</h3>
      {% if include.copresenter %}<small style="margin-top: 1em;">avec {{ include.copresenter }}</small>{% endif %}
    </div>
  </a>
  <div style="display: flex; margin-right: 3em;">
    <img src="{{ include.event.logo }}" alt="Event logo" class="talk-event-logo">
    <div style="margin-left: 0.5em;">
      <a href="{{ include.event.url }}" class="talk-event" target="_blank">{{ include.event.name }}</a>
      <small class="talk-date">{{ include.date }} • {{ include.place }}</small>
    </div>
  </div>
  <a href="{{ include.slide }}" class="no-decoration talk-slide" target="_blank">
    <i class="fa-solid fa-file-pdf"></i>
  </a>
</div>