div.article-info {
    display: flex;
    grid-gap: 1em;
    flex-wrap: wrap;
    font-size: smaller;
    color: var(--heavyaccent);
}

div.article-info i {
    color: var(--primary);
    min-width: 1em;
}