section.blog-header {
    background: var(--accent);
    color: var(--background);
    margin: 1em;
    box-shadow: 8px 8px 0 0 var(--secondary);
    border-radius: 0.25em;
}

section.blog-header button {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5em;
    color: var(--background);
    background: transparent;
    border: 0;
}

section.blog-header span {
    font-family: var(--titlefont);
    font-size: 2em;
}

button.show-blog-header {
    color: var(--accent);
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em;
    transform: scalex(-1);
    background-color: transparent;
    border: 0;
}