a.no-decoration {
    text-decoration: none;
}

a.button-primary {
    padding: 1em 2em;
    border: 1px solid var(--primary);
    font-family: var(--titlefont);
    color: var(--primary);
    background: var(--background);
}

a.small {
    font-size: small;
    padding: 0.5em 1em !important;
}

a.smaller {
    font-size: smaller;
    padding: 0.25em 0.5em !important;
}

a.button-primary:hover {
    text-decoration: underline;
}