a.no-decoration {
    text-decoration: none;
}

a.button-primary {
    padding: 1em 2em;
    border: 1px solid var(--primary);
    font-family: 'Manrope';
    color: var(--primary);
}

a.button-primary:hover {
    text-decoration: underline;
}