blockquote {
    color: var(--blockquoteColor);
    background-color: var(--blockquoteBGColor);
    border-left: 5px solid var(--blockquoteBorderColor);
    margin-inline: 0;
    padding: 5px 15px;
    background-image: url(/assets/images/quote-solid.svg);
}

div.highlighter-rouge,
code,
blockquote {
    background-position: center right;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: 10em;
}

div.highlighter-rouge,
code {
    font-family: 'Martian Mono', monospace;
    font-size: 11px;
}

pre {
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

div.highlighter-rouge {
    background-color: var(--accentbg);
    border: var(--border);
    padding: 10px;
    background-image: url(/assets/images/code-solid.svg);
}

div.highlighter-rouge:before {
    background: var(--bordercolor);
    margin: -10px -10px 10px -10px;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    font-family: var(--fonts);
}

div.highlighter-rouge {
    position: relative;
}

div.highlighter-rouge:hover button {
    opacity: 1;
}

div.highlighter-rouge button {
    position: absolute;
    opacity: 0;
    top: 3px;
    right: 4px;
    border: 0;
    height: 25px;
    width: 75px;
    background: transparent;
    font-size: 12px;
    padding: 5px 10px;
}

div.highlighter-rouge button:hover {
    background: #f2f2f2;
}

div.highlighter-rouge button:active,
div.highlighter-rouge button:focus-within {
    opacity: 1;
    background: green;
    color: white;
}

div.language-powershell::before {
    content: "PowerShell"
}

div.language-json::before {
    content: "JSON"
}

pre > code {
    white-space: pre;
}

p code,
li code,
table code {
    background-color: var(--bodybg);
    padding: 4px;
    border-radius: 2px;
}