blockquote {
    background-color: var(--blockquote);
    border-left: 5px solid var(--primary);
    margin-inline: 0;
    padding: 5px 15px;
}

div.highlighter-rouge,
code {
    font-family: var(--codefont);
    font-size: 11px;
}

pre {
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

div.highlighter-rouge {
    background-color: var(--lightaccent);
    border: var(--border);
    padding: 10px;
}

div.highlighter-rouge:before {
    border-bottom: 1px solid var(--mediumaccent);
    margin: -10px -10px 10px -10px;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    font-family: var(--textfont);
}

div.highlighter-rouge {
    position: relative;
}

div.highlighter-rouge:hover button {
    opacity: 1;
}

div.highlighter-rouge button {
    position: absolute;
    opacity: 0;
    top: 3px;
    right: 3px;
    border: 0;
    height: 26px;
    width: 75px;
    background: transparent;
    font-size: 12px;
    padding: 5px 10px;
}

div.highlighter-rouge button:hover {
    background: var(--secondary);
}

div.highlighter-rouge button:active,
div.highlighter-rouge button:focus-within {
    opacity: 1;
    background: green;
    color: white;
}

div.language-powershell::before {
    content: "PowerShell"
}

div.language-json::before {
    content: "JSON"
}

pre > code {
    white-space: pre;
}

p code,
li code,
table code {
    background-color: initial;
    padding: 4px;
    border-radius: 2px;
}