// FONTS
:root {
    --textfont: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --titlefont: Manrope;
    --codefont: 'Martian Mono', monospace;
}

// FIXED SETTINGS
:root {
    --footerbackground: #000;
    --footertext: #aaa;
    --footeraccent: #eee;
    --border: 1px solid var(--mediumaccent);
    --borderradius: 0.25em;
}

// LIGHT THEME (default)
html {
    --text: #333;
    --background: #fff;
    --primary: #68948d;
    --secondary: #aeb7ca;
    --accent: #8688b0;
    --lightaccent: #fafafa;
    --mediumaccent: #ccc;
    --heavyaccent: #666;
    --blockquote: #71a29a45;
}

// DARK THEME
html.dark {
    --text: #eee;
    --background: #111;
    --primary: #90b7b1;
    --secondary: #656B75;
    --accent: #9997C2;
    --lightaccent: #222;
    --mediumaccent: #666;
    --heavyaccent: #aaa;
    --blockquote: #90b7b145;
}
