/* Fonts */
:root {
    --textfont: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --titlefont: Manrope;
    --codefont: 'Martian Mono', monospace;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    html {
        --text: #333333;
        --background: #fbfcfc;
        --primary: #71a29a;
        --secondary: #aeb7ca;
        --accent: #8688b0;
        --lightaccent: #fafafa;
        --mediumaccent: #c4c4c4;
        --heavyaccent: #626262;
        --blockquote: #71a29a80;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    html {
        --text: #ebe9fc;
        --background: #010104;
        --primary: #3a31d8;
        --secondary: green;
        --accent: red;
        --lightaccent: #2b2a2a;
        --mediumaccent: #767697;
        --heavyaccent: #a3a3f3;
        --blockquote: #090431;
    }
}

/* Fixed colors */
:root {
    --footerbackground: #050315;
    --footertext: #adacb2;
    --footeraccent: #f8f7ff;
    --border: 1px solid var(--mediumaccent);
}

0
1
2
3
4
5
6
7
8
9   Heavy accent
a
b
c   Medium accent
d
e   
f   Light accent