details.comments {
    padding: 1em;
    border: 2px solid var(--lightaccent);
    border-radius: 0.25em;
    overflow: hidden;
}

details.comments summary {
    list-style: none;
    text-align: center;
    font-family: var(--titlefont);
    padding: 1em;
    background: var(--lightaccent);
    margin: -1em;
}

details.comments summary i {
    color: var(--primary);
    font-size: large;
    margin-right: 0.25em;
}

div.giscus {
    margin-top: 2em;
}