details.comments summary {
    list-style: none;
    text-align: center;
    font-family: var(--titlefont);
    padding: 1em;
    background: var(--lightaccent);
}

details.comments summary i {
    color: var(--primary);
    font-size: large;
    margin-right: 0.25em;
}

div.giscus {
    margin-top: 1em;
}