section.blog-post, section.blog-page, section.recommandation, .fill-available {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

section.blog-post,
section.blog-page,
section.recommandation {
    position: relative;
    padding: 2rem;
    max-width: 800px;
    overflow-x: auto;
    overflow-y: hidden;
}

section.recommandation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 1em;
}

@media screen and (max-width: 550px) {
    section.blog-post,
    section.blog-page,
    section.recommandation {
        padding: 1em;
    }
}

div.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.all-posts {
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
}

section.recommandation {
    background: var(--secondary);
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

span.recommandation {
    font-family: var(--titlefont);
    max-width: 310px;
    font-size: x-large;
    text-align: center;
    line-height: 140%;
    margin: 20px;
}

img.recommandation {
    rotate: 54deg;
    transform: scaleY(-1);
    width: 120px;
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    section.recommandation {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    img.recommandation {
        display: none;
    }
}