section.blog-post,
section.blog-page,
section.recommandation,
section.comments,
section.author-info,
.fill-available {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

section.blog-post,
section.blog-page,
section.recommandation,
section.blog-header,
section.comments,
section.author-info {
    position: relative;
    padding: 2rem;
    max-width: 800px;
    border-radius: var(--borderradius);
    overflow-x: auto;
    scrollbar-width: none;
}

@media screen and (max-width: 550px) {
    section.blog-post,
    section.blog-page,
    section.recommandation,
    section.comments,
    section.author-info {
        padding: 1em;
    }
}

div.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.all-posts {
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
}

section.recommandation {
    background: var(--accent);
    margin: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    box-shadow: 4px 4px 0 0 var(--secondary);
    overflow: hidden;
}

span.recommandation {
    font-family: var(--titlefont);
    color: var(--background);
    max-width: 310px;
    font-size: x-large;
    text-align: center;
    line-height: 140%;
    margin: 20px;
    display: block;
}

section.recommandation svg {
    rotate: 54deg;
    transform: scaleY(-1);
    margin: -1em 5em;
    height: 7em;
}

section.comments {
    background: var(--secondary);
    margin: 1em;
    box-shadow: 4px 4px 0 0 var(--mediumaccent);
}

section.author-info {
    background: var(--lightaccent);
    box-shadow: 4px 4px var(--secondary);
    color: var(--heavyaccent);
    grid-gap: 2em;
    font-size: small;
    display: flex;
    border-radius: var(--borderradius);
}

section.author-info img {
    max-width: 5em;
    border-radius: 100%;
}

section.author-info span {
    font-family: var(--titlefont);
}

section.author-info p {
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    section.recommandation {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.recommandation svg {
        display: none;
    }
}