div.cookies-container {
    display: none;
    position: fixed;
    justify-content: center;
    padding: 1em;
    bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

div.cookies {
    background: var(--lightaccent);
    padding: 1.5em;
    border: 1px solid var(--mediumaccent);
    text-align: center;
}

div.cookies span {
    font-family: var(--titlefont);
    font-size: 1em;
}

div.cookies p {
    font-size: smaller;
}

div.cookies-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 10px;
}