section.error-404 {
    text-align: center;
    margin: auto;
}

span.error-404 {
    font-size: 8em;
    margin: 0.5em;
    font-family: var(--titlefont);
    display: block;
}

small.error-404 , 
a.error-404  {
    display: block;
    margin: 1em auto;
    width: fit-content;
}

small.error-404  {
    color: var(--heavyaccent);
}

@media screen and (max-width: 550px) {
    span.error-404 {
        font-size: 5em;
    }
}