span.error-404 {
    font-size: 50svw;
    margin: auto;
    font-family: var(--titlefont);
    display: block;
}

section.error-404 span, 
section.error-404 a {
    display: block;
    text-align: center;
    margin: auto;
    width: fit-content;
}

@media screen and (max-width: 550px) {
    span.error-404 {
        rotate: -90deg;
        font-size: 50svw
    }
}