div.all-tags {
    line-height: 2em;
    margin-bottom: 1em;
}

div.all-tags a {
    background-color: var(--lightaccent);
    padding: 4px;
    border-radius: 0.25em;
    border: 1px solid var(--mediumaccent);
    text-decoration: none;
    font-size: smaller;
}

div.all-tags a:hover {
    background-color: var(--primary);
    text-decoration: underline;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.visible {
    opacity: 1;
}