div.all-tags {
    line-height: 2em;
    margin-bottom: 1em;
}

div.all-tags a {
    background-color: var(--lightaccent);
    padding: 4px;
    border: 1px solid var(--mediumaccent);
    text-decoration: none;
    font-size: smaller;
}

div.all-tags a:hover {
    background-color: var(--secondary);
    text-decoration: underline;
}