footer {
    border-top: 5px solid var(--primary);
    padding: 2em;
    background-color: var(--footerbackground);
    color: var(--footertext);
    margin-top: 2em;
    text-underline-offset: 4px;
}

div.footer-grid {
    display: flex;
    grid-gap: 1em;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

div.footer-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.footer-author a {
    color: inherit;
}

span.footer-logo {
    font-family: var(--titlefont);
    text-align: left;
    line-height: 80%;
    font-size: 1.5em;
    user-select: none;
}

div.footer-links {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 10px;
}

div.footer-links a {
    color: var(--footeraccent);
    padding: 10px;
    border: 1px solid;
    border-radius: 0.25em;
    height: 24px;
    width: 24px;
}

@media screen and (max-width: 725px) {
    div.footer-grid {
        flex-direction: column-reverse;
    }

    span.footer-logo {
        display: none;
    }
}


@media print {
    footer {
        display: none;
    }
}