header {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--mediumaccent);
}

header a {
    font-family: var(--titlefont);
    padding: 0.5em;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--text);
}

header a:hover {
    color: var(--primary);
    box-shadow: inset 0 -2px 0 0 var(--primary);
}

button.switch-theme {
    position: absolute;
    right: 0;
    margin: 1em;
    background-color: transparent;
    border: 0;
    padding: 1em;
    font-size: large;
    margin: 0.1em;
}