/* Based on PowerShell ISE theme in Visual Studio Code */

/* $null and $_ */
.highlight .bp {
    color: #008080;
}

/* Comments */
.highlight .c {
    color: #006400;
    font-style: italic;
}

/* Functions, params and conditions */
.highlight .kr {
    color: #00008b;
}

/* Integers */
.highlight .mi {
    color: #800080;
}

/* Commands and types */
.highlight .n,
.highlight .nf {
    color: #0000ff;
}

/* Command parameters */
.highlight .nt {
    color: #333333;
}

/* Variables */
.highlight .nv {
    color: #ff4500;
}

/* Maths */
.highlight .o {
    color: #a9a9a9;
}

/* Ponctuation */
.highlight .p {
    color: #7b3814;
}

/* String */
.highlight .s1,
.highlight .s2 {
    color: #8b0000;
}

/* Based on Visual Studio Dark theme in Visual Studio Code */

/* $null and $_ */
html.dark .highlight .bp {
    color: #3e9cca;
}

/* Comments */
html.dark .highlight .c {
    color: #6a9955;
    font-style: italic;
}

/* Functions, params and conditions */
html.dark .highlight .kr {
    color: #3f9cca;
}

/* Integers */
html.dark .highlight .mi {
    color: #b5cea8;
}

/* Commands and types */
html.dark .highlight .n,
html.dark .highlight .nf {
    color: #dcdcaa;
}

/* Command parameters */
html.dark .highlight .nt {
    color: #d4d4d4;
}

/* Variables */
html.dark .highlight .nv {
    color: #9cdcfe;
}

/* Maths */
html.dark .highlight .o {
    color: #d4d4d4;
}

/* Ponctuation */
html.dark .highlight .p {
    color: #d4d4d4;
}

/* String */
html.dark .highlight .s1,
html.dark .highlight .s2 {
    color: #ce9178;
}