/* https://spsarolkar.github.io/rouge-theme-preview/ */


/* Functions, params and conditions */
.highlight .kr {
    color: #00008b;
}

/* Commands and types */
.highlight .n,
.highlight .nf {
    color: #0000ff;
}

/* Variables */
.highlight .nv {
    color: #ff4500;
}

/* Ponctuation */
.highlight .p {
    color: #7b3814;
}

/* Null */
.highlight .bp {
    color: #008080;
}

/* String */
.highlight .s1,
.highlight .s2 {
    color: #8b0000;
}

/* Integers */
.highlight .mi {
    color: #800080;
}

/* Equals */
.highlight .o {
    color: #a9a9a9;
}

/* Comments */
.highlight .c {
    color: #006400;
    font-style: italic;
}