/* Based on PowerShell ISE theme in Visual Studio Code */

/* $null and $_ */
.highlight .bp {
    color: #007878;
}

/* Comments */
.highlight .c {
    color: #006400;
    font-style: italic;
}

/* Functions, params and conditions */
.highlight .kr {
    color: #00008b;
}

/* Integers */
.highlight .mi {
    color: #800080;
}

/* Commands and types */
.highlight .n,
.highlight .nf {
    color: #0000ff;
}

/* Command parameters */
.highlight .nt {
    color: #333333;
}

/* Variables */
.highlight .nv {
    color: #dd2100;
}

/* Maths */
.highlight .o {
    color: #6f6f6f;
}

/* Ponctuation */
.highlight .p {
    color: #7b3814;
}

/* String */
.highlight .s1,
.highlight .s2 {
    color: #8b0000;
}

/* Based on Visual Studio Dark theme in Visual Studio Code

@media (prefers-color-scheme: dark) {

    // $null and $_
    .highlight .bp {
        color: #3e9cca;
    }

    // Comments
    .highlight .c {
        color: #6a9955;
        font-style: italic;
    }

    // Functions, params and conditions
    .highlight .kr {
        color: #3f9cca;
    }

    // Integers
    .highlight .mi {
        color: #b5cea8;
    }

    // Commands and types
    .highlight .n,
    .highlight .nf {
        color: #dcdcaa;
    }

    // Command parameters
    .highlight .nt {
        color: #d4d4d4;
    }

    // Variables
    .highlight .nv {
        color: #9cdcfe;
    }

    // Maths
    .highlight .o {
        color: #d4d4d4;
    }

    // Ponctuation
    .highlight .p {
        color: #d4d4d4;
    }

    // String
    .highlight .s1,
    .highlight .s2 {
        color: #ce9178;
    }
}
*/