.hover-bottom:hover {
    box-shadow: inset 0 -2px 0 0 var(--primary);
}

.hover-popout:hover {
    box-shadow: 4px 4px 0 0 var(--secondary);
    transform: translate(-4px, -4px);
    transition: all ease-in-out 200ms;
}