.hover-bottom {
    transition: all ease-in-out 200ms;
}

.hover-bottom:hover {
    box-shadow: inset 0 -2px 0 0 var(--primary);
    border-color: var(--primary);
    transform: translateY(-2px);
}

div.all-tags a.selected,
.hover-popout:hover {
    box-shadow: 4px 4px 0 0 var(--secondary);
    transform: translate(-4px, -4px);
    transition: all ease-in-out 200ms;
}