article.post-preview {
    background-color: var(--lightaccent);
    text-decoration: none;
    min-width: 15em;
    transition: transform ease-in-out 200ms;
    position: relative;
}

article.post-preview a {
    text-decoration: inherit;
    padding: 1em;
    display: block;
}

article.post-preview span {
    color: var(--heavyaccent);
    font-size: small;
}

article.post-preview h3 {
    margin-top: 0.5em;
}

article.post-preview:hover h3 {
    text-decoration: underline;
    color: var(--primary);
}

article p {
    margin-bottom: 3em;
}

div.article-tags {
    position: absolute;
    bottom: 1em;
}