div.rewind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
    border: 1px solid var(--mediumaccent);
    border-radius: var(--borderradius);
    height: stretch;
}

div.rewind h3 {
    font-size: xx-large;
    margin: 0.5em 0;
    line-height: 120%;
}

div.rewind i {
    position: absolute;
    font-size: 5em;
    opacity: 0.1;
    top: 0;
    right: -0.25em;
}

div.bg-primary {
    background: var(--primary);
    color: var(--lightaccent);
}

div.bg-secondary {
    background: var(--secondary);
}

div.bg-accent {
    background: var(--accent);
    color: var(--lightaccent);
}

div.bg-lightaccent {
    background: var(--lightaccent);
}