input.searchbar {
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid var(--mediumaccent);
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    color: var(--heavyaccent);
    font-size: 1.17em;
}

input.searchbar:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
}

input.searchbar::placeholder {
    color: var(--lightaccent);
    opacity: 1;
}