table,
td,
tr,
th {
    border: var(--border);
    padding: 7px;
    border-collapse: collapse;
    line-height: 125%;
}

th {
    background-color: var(--lightaccent);
    text-align: left;
    position: relative;
}

th i.fa-solid.fa-sort {
    color: var(--mediumaccent);
    position: absolute;
    right: 0;
    margin: 2px 10px;
}

table {
    min-width: 50%;
    margin: 1em 0;
}