div.talk-container {
    border: 1px solid var(--mediumaccent);
    border-radius: var(--borderradius);
    padding: 1em;
}

div.talk-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 16/9;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
    border: 1px solid var(--mediumaccent);
    border-radius: var(--borderradius);
    background: var(--lightaccent);
}

div.talk-thumbnail h3 {
    margin: 0;
}

div.talk-thumbnail:hover h3 {
    color: var(--primary);
    text-decoration: underline;
}

img.talk-event-logo {
    margin: 0;
    height: 3em;
    width: 3em;
    border-radius: var(--borderradius);
}

a.talk-event {
    display: block;
}

small.talk-date {
    color: var(--heavyaccent);
}