h1, h2, h3, h4, h5 {
    font-family: var(--titlefont);
    font-weight: 700;
    line-height: 140%;
    margin: 2em 0 1em 0;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

h2 {
    border-bottom: 1px solid var(--mediumaccent);
    padding-bottom: 5px;
}

h2 a,
h3 a,
h4 a,
h5 a {
    text-decoration: none;
}

h2 i,
h3 i,
h4 i,
h5 i {
    opacity: 0;
    margin-left: 0.5em;
    font-size: smaller;
}

h2:hover i,
h3:hover i,
h4:hover i,
h5:hover i {
    opacity: 0.5;
}