---
---

div.aboutMe {
    display: flex;
    flex-wrap: wrap;
}

div.aboutMe > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
    max-width: 100%;
    text-align: justify;
}

div.aboutMe > img {
    border-radius: 1000px;
    margin: auto;
    padding: 30px;
    height: 150px;
    width: 150px;
}