---
---

div.aboutMe {
    display: flex;
    flex-wrap: wrap-reverse;
}

div.aboutMe > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
    max-width: 100%;
}

div.aboutMe > img {
    border-radius: 50%;
    margin: auto;
    padding: 30px;
    height: 150px;
    width: 150px;
}

div.personalLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.personalLinks > a {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 100%;
    aspect-ratio: 1;
    height: 35px;
    color: var(--title);
}

div.personalLinks > a:hover {
    color: var(--text);
    background: rgba(0,0,0,.1);
    text-decoration: none;
}

div.personalLinks > a > i {
    font-size: 25px;
}

@media print, screen and (max-width: 550px) {

    div.aboutMe > img {
        padding: 15px;
    }

}