---
---

div.aboutMe {
    display: flex;
    flex-wrap: wrap-reverse;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 15px;
}

div.aboutMe > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
    max-width: 100%;
}

div.aboutMe > img {
    border-radius: 1000px;
    margin: auto;
    padding: 30px;
    height: 150px;
    width: 150px;
}

div.personalLinks {
    display: flex;
    padding: 15px 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.personalLinks::-webkit-scrollbar {
    display: none;
}

div.personalLinks > a {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 8px 20px;
    border-radius: 5px;
    color: #FFF;
    font-weight: 400;
    min-width: 70px;
}

div.personalLinks > a:hover {
    color: #FFF;
    text-decoration: none;

    span {
        text-decoration: underline;
    }
}

div.personalLinks > a > i {
    font-size: 25px;
}

div.personalLinks > a > span {
    margin: auto;
    padding: 5px;
}

div.personalLinks > a.linkedIn {
    background-color: #0a66c2;
}

div.personalLinks > a.cv {
    background-color: #6b70b5;
}

@media print, screen and (max-width: 550px) {

    div.aboutMe > img {
        padding: 15px;
    }

}