---
---

.certification {
    margin: 5px;
    height: 200px;
    max-width: 135px;
    flex: 1;
    flex-basis: 135px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.certification > img {
    height: 80px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.experience {
    display: block;
    margin-left: 35px;
    padding-left: 15px;
    border-left: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.experience > h4 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.enterprise {
    display: flex;
    margin: 15px 0px;
    justify-content: left;
    background-color: #fafafa;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #ddd;
}

.enterprise > div {
    margin: 5px;
}

.enterprise > div > h3 {
    margin: 0;
}

.enterprise > div > img {
    height: 64px;
}

.skill {
    margin: 10px;
    display: flex;
    padding: 5px;
}

.skill > span {
    width: 150px;
    height: 15px;
    display: flex;
    align-items: center;
}

.progressBar {
    background-color: #f2f2f2;
    width: 250px;
    height: 15px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.progressBarContent {
    height: 100%;
    background: linear-gradient(45deg, rgba(17,85,251,1) 0%, rgba(83,199,247,1) 100%);;
    border-radius: 5px;
}