---
---

.certification {
    margin: 5px;
    height: 250px;
    max-width: 135px;
    flex: 1;
    flex-basis: 135px;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.certification > img {
    height: 100px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.experience {
    display: block;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 2px solid #f2f2f2;
    margin-top: 15px;
    margin-bottom: 15px;
}

.experience > h4 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.enterprise {
    display: flex;
    margin: 15px;
    justify-content: left;
}

.enterprise > div {
    margin: 5px;
}

.enterprise > div > h3 {
    margin: 0;
}

.enterprise > div > img {
    height: 64px;
}