---
---

// ENTERPRISES

.enterprise {
    display: flex;
    padding: 0.5em;
    align-items: center;
    border: 1px solid var(--mediumaccent);
}

.enterprise summary {
    list-style: none;
}

.enterprise h3 {
    margin: 0.25em 0;
}

.enterprise img {
    height: 4em;
    margin: 0 1em 0 0;
}

// EXPERIENCES

.experience {
    display: block;
    margin-left: 35px;
    padding-left: 15px;
    border-left: var(--border);
    margin-top: 15px;
    margin-bottom: 15px;
}

.experience summary {
    list-style: none;
}

.experience h4 {
    margin-bottom: 0;
    margin-top: 30px;
}

.experiences h2,
.experiences h3,
.experiences h4 {
    margin: 0.25em 0;
}

// PERSONAL LINKS

div.personalLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 5px;
    margin: 2em 0;
    justify-content: space-between;
}

div.personalLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border: var(--border);
    aspect-ratio: 1;
    height: 2em;
    text-decoration: none;
    background: var(--background);
}

div.personalLinks a:hover {
    color: var(--text);
    background: var(--lightaccent);
    text-decoration: none;
}

div.personalLinks a i {
    font-size: 1.5em;
}

// CERTIFICATIONS

.certification{
    padding: 0.5em;
    border: 1px solid var(--mediumaccent);
    height: 3em;
}
.certification:hover {
    background: var(--lightaccent);
}

.certification a {
    display: flex;
    flex-direction: row;
    grid-gap: 0.5em;
    align-items: center;
    height: 100%;
    width: 100%;
}

.certification a,
.certification a:hover {
    text-decoration: none;
    color: var(--text);
}

.certification img {
    height: 3em;
    margin: 0;
}

.certification span {
    display: none;
    // font-size: smaller;
}

.certification h4 {
    margin: 0;
    font-size: smaller;
}

// PERSONAL INFO

div.personalInfo {
    font-size: smaller;
    min-width: 15em;
    background: var(--blockquote);
    padding: 2em;
    max-width: fit-content;
    margin: 0 auto;
}

div.personalInfo img {
    border: 1px solid var(--mediumaccent);
}

div.personalInfo ul {
    padding: 0;
    list-style: none;
    margin: auto;
    width: fit-content;
}

div.personalInfo ul i {
    color: var(--heavyaccent);
    width: 2em;
}

// SKILLS

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(12em, 100%), 1fr));
    grid-gap: 1em;
    list-style: none;
    padding: 0;
    font-size: smaller;
    font-family: var(--titlefont);
}

.skill-container {
    border: 1px solid var(--mediumaccent);
    height: 0.5em;
}

.skill-progress {
    background: var(--accent);
    height: 100%;
}

// CV WRAPPER

.cv-wrapper {
    display: flex;
    grid-gap: 2em;
}

@media screen and (max-width: 700px) {
    .cv-wrapper {
        flex-direction: column;
    }
}
