---
---

body {
    background: var(--textbg);
}

main {
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

main > h1 {
    font-size: 5vh;
    line-height: 125%;
    text-align: center;
}

main > h1 > span {
    background: linear-gradient(45deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li {
    list-style: none;
    display: inline-block;
    line-height: 4em;
}

ul > li > a {
    padding: 12px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: large;
}

ul > li:first-child > a {
    background: var(--accent);
    color: white;
}

ul > li:last-child > a {
    background: var(--bodybg);
}

footer {
    padding: 15px 0px;
}