---
---

.div_container {
    height: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/hero_image.webp);
    background-repeat: round;
    background-attachment: fixed;
}

.div_hero {
    background-color: #342e37;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.div_hero_text {
    max-width: 500px;
    margin: 25px;
    color: #fff;

    h1 {
        color: #fafafa;
    }
}

.div_hero_image {
    max-width: 450px;
    margin: 25px;
}

.a_hero_button_1 {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #f9c80e;
    color: #342e37;
    font-size: 18px;
}