---
---

.div_container {
    height: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/hero_image.webp);
    background-repeat: round;
    background-attachment: fixed;
}

.div_hero {
    background-color: #342e37;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.div_hero_text {
    max-width: 950px;
    color: #fff;

    h1 {
        color: #fafafa;
    }
}