---
---

/* --- LINKS --- */

footer svg {
    height: 25px;
    opacity: 75%;
    fill: #fff;
}

footer svg:hover {
    opacity: 100%;
}

.linkedin svg:hover {
    fill: #0564c3;
}

.twitter svg:hover {
    fill: #1d9aee;
}

.github svg:hover {
    fill: #fff;
}