---
---

:root {
    --textfont: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --titlefont: "Be Vietnam Pro";
    --codefont: 'Martian Mono', monospace;
}

html {
    --text: #3d3834;
    --background: #fff;
    --primary: #783cbd;
    --secondary: #c1a011;
    --lightaccent: #f1f1f1;
    --mediumaccent: #c9d1d1;
    --heavyaccent: #373434;
}

html {
    color: var(--text);
    font-family: var(--textfont);
}

body {
    margin: 0;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titlefont);
    font-weight: 600;
}

h1 {
    color: var(--primary);
    margin-bottom: 2em;
}

h2 {
    background: var(--mediumaccent);
    padding: 0.5em;
}

.skills {
    grid-template-columns: repeat(auto-fill, minmax(min(15em, 100%), 1fr)) !important;
    font-size: medium !important;
    font-weight: 600 !important;
}

.skills span {
    margin-bottom: 1em;
    display: block;
}

.fill-available {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}