---
---

/* --- POSTS CONTENT --- */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a:hover {
        text-decoration: none;
    }
}

.card {
    margin: 15px;
    width: 425px;
    height: 300px;
    box-shadow: 0 3px 3px 0px #8c8c8c65;
    transition: all 200ms ease-in-out;
}

.card:hover {
    box-shadow: 0 6px 6px 0px #38383834;
}

.thumbnailLimits {
    margin: 0px;
    height: 150px;
    overflow: hidden;
}

.thumbnail {
    font-size: 90px;
    text-align: center;
    margin: 0;
    height: 150px;
    line-height: 150px;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.02);
}

.postInfo {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
}

.postInfo p {
    font-weight: 400;
    color: #000;
}

.postInfo h3 {
    color: #383b53;
}

.postBanner {
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -30px;
    position: relative;
    left: 0;
    right: 0;
    height: 200px;
    line-height: 200px;
    display: flex;
    justify-content: center;
    font-size: 90px;
}