---
---

@media print {

    body {
        background-color: #fff;
    }
    
    header {
        display: none;
    }
    
    div.postBanner {
        background: none;
    }
    
    section {
        box-shadow: none;
    }
    
    footer {
        display: none;
    }
}