---
---

::selection {
    background-color: #6B70B5;
    color: #fff;
}

html {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    letter-spacing: 0.25px;
    line-height: 155%;
}

body {
    background-color: #f2f2f2;
    height: 100%;
    margin: 0;
    width: auto;
}

header {
    margin: 0;
    position: relative;

    nav {
        background-color: #fff;
        display: block;
        margin: 0;
        overflow: hidden;
        position: static;
        box-shadow: 0px 0px 5px 0px #00000030;
    }

    nav > a {
        color: #342E37;
        text-align: center;
        font-weight: bold;
        padding: 15px 10px;
        float: right;
        text-decoration: none;
        text-decoration-color: transparent;
        transition: all 400ms ease-in-out;
    }

    nav > a:hover, nav > a:first-child {
        text-decoration: underline;
        text-underline-position: below;
        text-underline-offset: 3px;
        text-decoration-thickness: 3px;
        text-decoration-color: #f9c80e;
    }

    nav > a:first-child {
        float: left;
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        font-size: 22px;
    }
}

main {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    section {
        min-height: 85%;
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 5px;
        padding: 30px;
        max-width: 950px;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        overflow-x: hidden;
        overflow-y: hidden;
        box-shadow: 0px 0px 5px 0px #00000030;
    }

    a {
        color: #214263;
        font-weight: 500;
        text-decoration: none;
        transition: all 100ms ease-in-out;
    }

    a:hover {
        color: #3a75af;
        text-decoration: underline;
        text-underline-offset: 1px;
    }

    h1, h2, h3, h4, h5 {
        color: #342E37;
    }

    h1 {
        font-family: 'Manrope', sans-serif;
        font-size: xx-large;
        font-weight: 800;
        line-height: 100%;
        margin: 15px 0px;
    }

    h2, h3, h4, h5 {
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        margin-top: 1em 0em;
    }

    img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        border: 1px solid #ddd;
        margin: 50px 0px;
    }

    blockquote {
        background-color: #342E37;
        border-left: 5px solid #6B70B5;
        border-radius: 5px;
        color: #fafafa;
        margin-inline: 0;
        padding: 5px 15px;
    }

    pre, code, blockquote {
        font-family: 'Martian Mono', monospace;
        font-size: 12px;
    }

    pre {
        border-radius: 5px;
        background-color: #fafafa;
        border: 1px solid #ddd;
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    pre > code {
        white-space: pre;

        /*PowerShell*/
        .bp, .nv, .bp { color: #001080; } /*Variables*/
        .n            { color: #795e26; } /*Commandes*/
        .nf           { color: #0000ff; } /*Type & Commandes*/
        .s1, .s2, .sh { color: #a31515; } /*Chaines*/
        .kr           { color: #af00db; } /*IF & ELSE*/
        .c, .cm       { color: #008000; } /*Commentaires*/
        .mi           { color: #01633F; } /*Entiers*/ 
    }

    p > code, li > code, main table>tbody>tr>td>code {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding-left: 5px;
        padding-right: 5px;
    }

    table, td, tr, th {
        border: 1px solid #ddd;
        padding: 10px;
        border-collapse: collapse;
    }

    th {
        background-color: #fafafa;
        text-align: left;
    }

    table {
        max-width: 100%;
        min-width: 50%;
    }

    details {
        border: 1px solid #ddd;
        border-radius: 5px;
        user-select: none;
        overflow: hidden;
    }

    details > summary {
        list-style: none;
        padding: 10px;
        background: #fafafa;
    }

    details[open] > summary {
        border-bottom: 1px solid #ddd;
    }

    details > p {
        margin: 15px;
    }
}

div.cookieInfo {
    position: fixed;
    bottom: 0;
    background: #fff;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    display: none;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #00000030;
    filter: opacity(0.95);
    user-select: none;
}

div.cookieInfo > button {
    background: #6B70B5;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    border: 0px;
}

footer {
    margin-top: -50px;
    padding: 60px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #342E37;
    position: relative;
    z-index: -1;
    color: #fafafa;

    div {
        padding: 15px;
    }

    span {
        font-size: 15px;
        font-weight: bold;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        transition: all 400ms ease-in-out;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

@media print, screen and (max-width: 950px) {

    html {
        font-weight: 400;
        height: 100%;
        letter-spacing: 0.2px;
        line-height: 150%;
    }

    body {
        word-wrap: break-word;
    }

    nav {
        padding: 0px 5px;
    }
    
    nav a {
        padding: 15px 10px;
    }

    main section {
        padding: 15px;
        min-height: 80%;
        overflow-x: scroll;
        margin: 0px 5px;
        border: 2px solid #333;
    }

    header, section { 
        margin: auto;
        max-width: 950px;
    }

    pre {
        padding: 10px;
    }

    footer {
        justify-content: left;

        li {
            margin: 5px 0px;
            height: 38px;
        }
    }
}
