---
---

html {
    --text: #000;
    --footer: #fff;
    --footerbg: #0d0d0d;
    --title: #333;
    --bodybg: #f2f2f2;
    --accentbg: #fafafa;
    --primary: #423196;
    --secondary: #DCBEEA;
    --textbg: #fff;
    --accent: #365BA6;
    --border: 1px solid #ddd;
    --borderradius: 5px;
    --boxshadow: #00000075;
    --neutral: #757575;
    --positive: #1f7f0b;
    --negative: #f24100;

    a.light-mode {
        display: none;
    }

    a.dark-mode {
        display: inline-flex;
    }
}

html.dark {
    --text: #F9FAF0;
    --footerbg: #000;
    --title: #F9FAF0;
    --bodybg: #0d0a18;
    --accentbg: #0d0a18;
    --textbg: #030401;
    --border: 1px solid #333;
    --boxshadow: #42319675;
    --primary: #423196;
    --secondary: #331541;
    --accent: #597FC9;

    a.dark-mode {
        display: none;
    }

    a.light-mode {
        display: inline-flex;
    }

    .bottom-buttons > a:last-child {
        color: var(--text);
    }
}

::selection {
    background-color: var(--accent);
    color: var(--textbg);
}

html {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    letter-spacing: 0.25px;
    line-height: 155%;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    color: var(--text);
}

body {
    background-color: var(--bodybg);
    height: 100%;
    margin: 0;
    width: auto;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;

    nav {
        width: 100%;
        max-width: 1500px;
        padding: 0px 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a, nav .menu {
        color: var(--title);
        font-weight: bold;
        margin: 5px 0px;
        padding: 10px 15px;
        transition: all 100ms ease-in-out;
        text-decoration: none;
        border-radius: var(--borderradius);
    }

    nav a:hover {
        color: var(--text);
        background: rgba(0,0,0,.1);
    }

    nav a.home {
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        font-size: 1.5em;
    }

    nav a.home:hover {
        background: none;
    }

    nav a.home span {
        margin-left: 5px;
    }
}

// LIGHT & DARK MODE
a.light-mode, a.dark-mode {
    font-size: 1.25em;
    margin: 0;
    padding: 10px;
    aspect-ratio: 1;
    border-radius: 100%;
}

// MENU
.vertical-menu {
    display: none;
}

.vertical-menu > i {
    font-size: 1.5em;
}

.submenu {
    display: none;
    padding-inline-start: 0;
    background: var(--accentbg);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    min-width: 50vw;
    opacity: 0.95;
    list-style: none;
    box-shadow: 0 0 5px 0 var(--boxshadow);

    li {
        padding: 1em;
        text-align: right;
        border-top: var(--border);
        width: -webkit-fill-available;
    }

    li:first-child {
        padding: 13px 16.5px;
        font-size: 1.5em;
    }

    li:last-child {
        text-align: center;
        position: fixed;
        bottom: 0;
    }
}

main {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    section {
        min-height: 85%;
        background-color: var(--textbg);
        border-radius: var(--borderradius);
        padding: 2rem;
        max-width: 950px;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        overflow-x: hidden;
        overflow-y: hidden;
        box-shadow: 0px 0px 5px 0px #00000030;
    }

    a {
        color: var(--accent);
        font-weight: 500;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h2, h3, h4, h5 {
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        margin: 2em 0px 1em 0px;
        color: var(--title);
    }

    h1 {
        font-family: 'Manrope', sans-serif;
        font-size: 2.5em;
        font-weight: 800;
        line-height: 100%;
        margin: 15px 0px;
    }

    h2 {
        border-bottom: var(--border);
        padding-bottom: 5px;
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.5em;
    }
    
    h4 {
        font-size: 1.25em;
    }

    h5 {
        font-size: 1.10em;
    }

    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }

    hr {
        border: var(--border);
        margin: 50px 0px;
    }

    blockquote {
        background-color: var(--accentbg);
        border-left: 5px solid var(--accent);
        border-radius: var(--borderradius);
        margin-inline: 0;
        padding: 5px 15px;
        background-image: url(/assets/images/quote-solid.svg);
    }

    pre,
    code,
    blockquote {
        font-family: 'Martian Mono', monospace;
        font-size: 11px;
        background-position: center right;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        background-size: 10em;
    }

    pre {
        border-radius: var(--borderradius);
        background-color: var(--accentbg);
        border: var(--border);
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        background-image: url(/assets/images/code-solid.svg);
    }

    pre > code {
        white-space: pre;

        /*PowerShell*/
        .bp, .nv, .bp { color: #001080; } /*Variables*/
        .n            { color: #795e26; } /*Commandes*/
        .nf           { color: #0000ff; } /*Type & Commandes*/
        .s1, .s2, .sh { color: #a31515; } /*Chaines*/
        .kr           { color: #af00db; } /*IF & ELSE*/
        .c, .cm       { color: #008000; } /*Commentaires*/
        .mi           { color: #01633F; } /*Entiers*/ 
    }

    p > code,
    li > code,
    main table > tbody > tr > td > code {
        border-radius: var(--borderradius);
        background-color: var(--accentbg);
        padding: 2px;
        border: var(--border);
    }

    table,
    td,
    tr,
    th {
        border: var(--border);
        padding: 10px;
        border-collapse: collapse;
    }

    th {
        background-color: var(--accentbg);
        text-align: left;
    }

    table {
        max-width: 100%;
        min-width: 50%;
    }

    details {
        border: var(--border);
        border-radius: var(--borderradius);
        user-select: none;
        overflow: hidden;
    }

    details > summary {
        list-style: none;
        padding: 10px;
        background: var(--accentbg);
    }

    details[open] > summary {
        border-bottom: var(--border);
    }

    details > p {
        margin: 15px;
    }
}

footer {
    margin-top: -50px;
    padding: 65px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footerbg);
    z-index: -1;
    color: var(--footer);
}

@media screen and (max-width: 950px) {

    html {
        font-weight: 400;
        height: 100%;
        letter-spacing: 0.2px;
        line-height: 150%;
    }

    body {
        word-wrap: break-word;
    }

    main section {
        min-height: 80%;
        overflow-x: scroll;
        margin: 1rem;
    }

    header,
    section { 
        margin: auto;
        max-width: 950px;
    }

    pre {
        padding: 10px;
    }
}

@media screen and (max-width: 550px) {

    main section {
        margin: 0;
        border-radius: 0;
        padding: 1.5em;
    }

    header > nav > a:first-child > span {
        display: none;
    }

    .horizontal-menu {
        display: none;
    }

    .vertical-menu {
        display: inline;
    }
}

@media print {

    body {
        background-color: var(--textbg);
    }
    
    header {
        display: none;
    }
    
    div.postBanner {
        background: none;
        margin: 0px;
        min-height: 0px;
    }
    
    main section {
        box-shadow: none;
    }
    
    footer {
        display: none;
    }
}