---
---

html {
    font-family: var(--textfont);
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    line-height: 155%;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    color: var(--text);
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    width: auto;
    background: var(--background);
}

main {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    a {
        color: inherit;
    }

    a:hover {
        text-decoration-thickness: 2px;
    }

    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }

    hr {
        border: 0;
        border-top: 1px solid var(--lightaccent);
        height: 1px;
        margin: 50px 0;
    }
}

@media screen and (max-width: 950px) {

    html {
        font-weight: 400;
        height: 100%;
        letter-spacing: 0.2px;
        line-height: 150%;
    }

    body {
        word-wrap: break-word;
    }

    main section {
        min-height: 80%;
        overflow-x: scroll;
        margin: 1rem;
    }

    header,
    section { 
        margin: auto;
        max-width: 950px;
    }

    pre {
        padding: 10px;
    }
}

@media screen and (max-width: 550px) {

    main section {
        margin: 0;
        border-radius: 0;
        padding: 1.5em;
    }
}

@media print {

    html {
        font-size: 12px;
    }

    body {
        background-color: var(--background);
    }
    
    header {
        display: none;
    }
    
    main section {
        box-shadow: none;
        border: none;
    }
}