<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="La Boua-Bouate"></a>
      </div>
    </header>

    <nav>
      <a href="{{ "/" | absolute_url }}">Accueil</a>
      <a href="/challenges">Défis</a>
      <a href="/howto">How To</a>
      <a href="/about">A propos</a>
    </nav>

    <section>
      {{ content }}
    </section>

    <footer>
      <ul>
        <li><small>Hébergé sur <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></small></li>
        <li>
          <a href="{{ site.github.owner_url }}" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        {% if site.linkedin %}
        <li>
          <a href="{{ site.linkedin }}" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        {% endif %}
        {% if site.twitter %}
        <li>
          <a href="{{ site.twitter }}" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        {% endif %}
        <li><small>© 2022 Léo Bouard</small></li>
      </ul>
    </footer>
  </body>
</html>
