---
layout: default
---

<div style="text-align: left; position: absolute; z-index: 3; margin-top: 5px;">
    <a href="/blog" style="color: #fff;">← Tous les articles</a>
</div>

{% if page.icon %}
<div class="postBanner" style="background-color: #007acc;">
    {{ page.icon }}
</div>
<br>
{% endif %}

<small>Le {{ page.date | date: "%d/%m/%Y" }} par {{ site.author }}</small>

<h1>{{ page.title }}</h1>

{{ content }}

{% if page.tags contains "challenges" %}
<div class="buttonNext">
    <a href="{{ page.id }}-soluce"">Voir la solution</a>
</div>
{% endif %}

{% if page.id contains "-soluce" %}
<div class="buttonBack">
    <a href="{{ page.id | replace '-soluce','' }}">Retour au défi</a>
</div>
{% endif %}